body {
    padding: 0;
    background-color: #f3e9f1;
}

header {
    background-color: #f3e9f1;
}
.card {
    width: 90%;
    margin-top: 5%;
    
}
bg-light {
    background-color: #f3e9f1;
}
#product-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.product {
    background-color: #FAFAFA;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5%;
    box-shadow: 0 10px 10px 0 gray;
    text-decoration: none;
}
.list-group {
    color: black;
}
.product-name {
    height: 2em;
    margin-top: 5%;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#main-list {
    margin-bottom: 15%;
}

a:hover {
    text-decoration: none;
}
#product-card > div {
    box-shadow: 0 10px 10px 0 gray;
    margin: 5%;
    padding: 3%;
}
