#fiche-produit {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    @include tablet {
        flex-direction: column-reverse;
        align-items: center;
        
    }
}
#info {
    display: flex;
    flex-direction: column;
    width: 40%;
    justify-content: space-evenly;
    @include tablet {
        width: 80%;
    }
}
#photo {
    width: 40%;
    & img {
        width: 100%;
    }
    @include tablet {
        width: 80%;
    }
}
#confirm {
    margin-left: 10%;
    padding: 5%;
    display: flex;
    flex-direction: row;
    
}
#ajout-panier {
    width: 70px;
    font-size: 1.3rem;
    padding: 1%;
    background-color: beige;
    border-radius: 15%;
    margin-left: 2%;
}