.tableau {
    display: flex;
    flex-direction: column;
    text-align: end;
    width: 60%;
    @include tablet {
        width: 80%;
    }
}
table {
    width: 100%;
    & button {
        background-color: red;
        border-radius: 20%;
    }
}
tbody th {
    margin-top: 10%;
    font-weight: normal;
}
